// COLORS
$color-primary: #25c053;
$color-background: #f0f0f0;

$color-white: #f3f3f3;
$color-form-input-bg: #ebebeb;
$color-button-bg: #ebebeb;
$color-grey: #8a8a8a;
$color-black: #000000;
$color-success: #32af2d;
$color-danger: #ce1c1c;
